# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extensões compiladas e objetos
*.o
*.out
*.exe

# Pastas e utilitários gerados
build/
saves/
.fuse_hidden*

# Arquivos de IDE e SO
.vscode/
.idea/
.DS_Store
